.sidebar{
    
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    flex:0.2;
    height: 100vh;
    min-width:230px;
    background-color: black;
}
.sidebar_logo{
    height:69px;
    margin-right: auto;
    padding:10px;

}
.sidebar>hr{
    border: 1px solid #282828;
    width:90%;
    margin:10px auto;

}
.sidebar_title{
    
    margin-left: 10px;
    padding:5px;
    font-size: 12px;
}
.sidebarOption>p{
    margin-top:10px;
    margin-left:20px;
    font-size: 14px;
}